{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.</p>
    {% search_bar %}
    <p>I've written {% total_posts %} posts.</p>
    <h2>Latest Posts</h2>
    {% show_latest_posts 3 %}
  </div>
</body>
</html>
