* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Teko", sans-serif;
  text-shadow: 2px 2px 20px rgb(48, 46, 48);
  min-height: 100vh;
  background-image: url("e8b4cafebf9c3a684aefc88f132f4de8.gif");
  //background-image: linear-gradient(white, rgb(206, 57, 82));
  //background-size: 400% 400%;
  animation: background-animation 5s ease infinite;
  //animation: gradientKeyFrames 7s ease infinite;
}
.App {
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}
.library-active {
  margin-left: 20%;
}
h1,
h2,
h3 {
  color: #d64356;
}
h3,
h4 {
  color: rgb(26, 168, 235);
  font-weight: 400;
}
@keyframes gradientKeyFrames {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@import "./Player.scss";
@import "./Song.scss";
@import "./Library.scss";
@import "./Nav.scss";
