.library {
  width: 20rem;
  position: fixed;
  top: 0;
  background-image: linear-gradient(
    rgba(82, 32, 82, 0.5),
    rgba(196, 69, 86, 0.5),
    rgba(216, 178, 97, 0.5),
    rgba(98, 187, 228, 0.5)
  );
  left: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  box-shadow: 2px 2px 8px rgb(100, 51, 133);
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  h2 {
    font-size: 190%;
    padding: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
  &.open {
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.3s ease;
  }
}
.library-song {
  display: flex;
  text-shadow: 2px 2px 15px rgb(55, 11, 85);
  align-items: center;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10pt;
  transition: 1s ease;
  img {
    width: 40%;
    margin-right: 1rem;
    cursor: pointer;
  }

  &.selected {
    background-color: rgba(82, 32, 82, 0.6);
    animation-name: selectedAnimationFrames;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    //animation: selectedAnimationFrames 1s cubic-bezier(0.47, 0, 0.745, 0.715) 6s infinite alternate forwards running;
  }

  &:hover {
    background-color: rgba(82, 32, 82, 0.6);
  }
  h3 {
    color: #d64356;
  }
  h4 {
    color: rgb(26, 168, 235);
  }
  .song-description {
    padding: 1rem;
    display: block;
    cursor: text;
  }
}
@keyframes selectedAnimationFrames {
  0% {
    background-color: rgba(82, 32, 82, 0.5);
  }
  25% {
    background-color: rgba(196, 69, 86, 0.5);
  }
  75% {
    background-color: rgba(216, 178, 97, 0.5);
  }
  100% {
    background-color: rgba(98, 187, 228, 0.5);
  }
}

@media screen and (max-width: 786px) {
  .library {
    width: 100%;
    font-size: 50%;
  }
}
