nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 2px 2px 15px rgb(55, 11, 85);
  button {
    background-color: transparent;
    font-size: 100%;
    color: #da7837;
    margin-top: 0.2rem;
    cursor: pointer;
    border-radius: 4pt;
    border: 2px solid #da7837;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background-color: #d64356;
      color: wheat;
    }
    &:focus {
      outline: none;
    }
  }
  h1 {
    font-size: 175%;
  }
}
@media screen and (max-width: 786px) {
  .nav {
    h1 {
      font-size: 50%;
    }
    button {
      z-index: 0;
    }
  }
}
