.player {
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.time-control {
  width: 50%;
  display: flex;
  text-shadow: 2px 2px 15px rgb(55, 11, 85);
  align-items: center;
  color: #e5706c;
  input {
    width: 100%;
    padding: 1rem 1rem;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: transparent;
  }
  p {
    padding: 1rem;
  }
}
.play-control {
  display: flex;
  width: 50%;
  padding: 1rem 1 rem;
  justify-content: space-between;
  align-items: center;
  svg {
    cursor: pointer;
    color: whitesmoke;
    margin-bottom: 3rem;
  }
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 1rem;
}
.track {
  width: 100%;
  height: 1rem;
  display: inline-block;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.animate-track {
  background-color: rgb(252, 252, 252);
  width: calc(100% - 1px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.2px;
  transform: translateX(0%);
  pointer-events: none;
}
.animate-track-thumb {
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  background-color: transparent;
  box-shadow: 2px 2px #cccccc;
  border-radius: 20px;
}
.rocket {
  transform: rotate(40deg);
  position: absolute;
  margin-left: 3px;
  color: rgb(80, 247, 247);
  stroke: black;
  stroke-width: 30;
  font-size: x-large;
}

@media screen and (max-width: 786px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
