.song {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 15px rgb(55, 11, 85);
  flex-direction: column;
  align-items: center;
  img {
    width: 25%;
    border-radius: 10pt;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
    font-size: 200%;
  }
  h3 {
    font-size: 150%;
  }
}
@media screen and (max-width: 786px) {
  .song {
    img {
      width: 60&;
    }
  }
}
