body, p, h1 {      
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16pt;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    border: solid rgb(205, 90, 167);
    text-indent: 20pt;
}
strong, em {
    border: solid;
    border-width: thin;
    border-color: green;
}
h1, h2, h3 {
    font-family: Arial;
    /* Comentário em CSS */
    color: blue;
}
div {border: solid;
    border-width: 1px;
    }
a {
    text-decoration: none;
    text-transform: capitalize;
}
img{
    vertical-align: top;
}
a:visited {
    color: teal;
}
