div.box{ min-height: 300px;
         min-width: 300px;
         max-height: 500px;
         max-width: 500px;
         background-color: rgb(0, 109, 128);
         overflow-y: scroll;
         padding: 50px;
         margin: 20px auto;
         text-align: center;
         border: 10px dashed gold; }
p{ height: 75%;
   width: 75%;
   padding: 20px;
   border: 3px dashed blue; }
div{ padding: 50px;
     margin: 20px auto; }
p{ width: 200px;
   padding: 20px;
   border: 2px solid blue; }
p.caixa { margin: 10px auto 10px auto; }
div.one { border-width: 1px 4px 12px 4px; }
li{ display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    visibility: hidden; }
li.notyet {display: none; }
em {display: block; }
p{width: 350px; }
p.pos { position: relative;
        top: 10px;
        left: 100px; }
h1 { position: absolute;
     top: 25px;
     left: 360px; }
h2 { position: fixed;
     top: 10px;
     left: 0px;
     margin: 0 px;
     width: 100%; }
h3 { float: left;
     margin: 10px;
     width: 200px; }
*{  font-size: 50pt;
    background-color: rebeccapurple; }
h1 { color: red; }
.custom_paragraph { font-size: larger;
                    color: salmon;
                    background-color: seagreen; }
#first_header { font-size: smaller; }
a { border: 2px solid slategrey; }
li>a { margin-left: 2em; }
li>a>p { color: violet; }
h1+p { color: yellowgreen; }
h1~p { color: yellowgreen; }
h1[id] { background-color: tomato; }
a[target=_blank] { color: wheat; }
[href*="google"] { color: brown  !important; }
h1 { color: #ff00003c !important; }