img{ display: block;
     margin: 0px auto; }
div { margin: 20px auto;
      text-align: center;
      color: rgb(5, 1, 1);
      border: 5px double coral; }
body { background-image: url("ocean.jpg"); 
       background-repeat: no-repeat;
       background-size: cover;}