img.left { position: absolute;
           left: 0px;
           top: 0px;
           z-index: 2; }
img.right { position: absolute;
            left: 60px;
            top: 30px;
            z-index: -1; }
.text_line { clear: both; }
.col1, .col2, .col3 { float: left;
                      width: 200px;
                      margin: 10px; }
.mcol { /* Número de colunas */
        -webkit-column-count: 3;
        /* Chrome, Safari, Opera */
        -moz-column-count: 3;
        /* Firefox */
        column-count: 3;
        /* Espaço entre colunas */
        -webkit-column-gap: 40px;
        /* Chrome, Safari, Opera */
        -moz-column-gap: 40px;
        /* Firefox */
        column-gap: 40px;
        /* Separador entre colunas */
        -webkit-column-rule: 1px solid lightblue;
        /* Chrome, Safari, Opera */
        -moz-column-rule: 1px solid lightblue;
        /* Firefox */
        column-rule: 1px solid lightblue; }
img.large { width: 500px;
            height: 500px; }
img.medium { width: 250px;
             height: 250px; }
img.small { width: 100px;
            height: 100px; }
img.align-left{ float: left;
                margin-right: 10px; }
img.align-center{ display: block;
                  margin: 0px auto; }
body { background-image: url("ocean.jpg"); }
p.fundo { background-image: url("ocean.jpg"); }
@media only screen and (max-width: 796px) {
    body { background-image: -moz-linear-gradient( teal, purple);
           background-image: linear-gradient( teal, purple);
           background-image: -webkit-linear-gradient( teal, purple); } }