* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    120deg,
    rgb(223, 13, 111),
    rgb(250, 236, 34)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#square1 {
  margin-top: 1rem;
  width: 200pt;
  height: 200pt;
  background-color: #e4520f;
}
#square2 {
  margin-top: 1rem;
  width: 200pt;
  height: 200pt;
  background-color: rgb(54, 98, 231);
}
#square3 {
  margin-top: 1rem;
  width: 200pt;
  height: 200pt;
  background-color: rgb(240, 6, 6);
}
#switch1 {
  padding: 1rem 2rem;
  border-style: outset;
  border-color: rgb(45, 6, 153);
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(219, 15, 49);
  font-size: x-large;
  color: black;
  font-weight: bold;
  outline: none;
  transition-duration: 0.4s;
}
#switch1:hover {
  background-color: whitesmoke;
  color: rgb(219, 15, 49);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#switch1:active {
  background-color: whitesmoke;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#switch1::after {
  transform: translateX(20%) translateY(20%);
  height: 200pt;
  width: 50pt;
}
#switch2 {
  padding: 1rem 2rem;
  border-style: outset;
  border-color: rgb(45, 6, 153);
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(219, 15, 49);
  font-size: x-large;
  color: black;
  font-weight: bold;
  outline: none;
  transition-duration: 0.4s;
}
#switch2:hover {
  background-color: whitesmoke;
  color: rgb(219, 15, 49);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#switch2:active {
  background-color: whitesmoke;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#switch2::after {
  transform: translateX(20%) translateY(20%);
  height: 200pt;
  width: 50pt;
}
#switch3 {
  padding: 1rem 2rem;
  border-style: outset;
  border-color: rgb(45, 6, 153);
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(219, 15, 49);
  font-size: large;
  color: black;
  font-weight: bold;
  outline: none;
  transition-duration: 0.4s;
}
#switch3:hover {
  background-color: whitesmoke;
  color: rgb(219, 15, 49);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#switch3:active {
  background-color: whitesmoke;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#switch3::after {
  transform: translateX(20%) translateY(20%);
  height: 200pt;
  width: 50pt;
}
