body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  button:hover {
    background-color: grey;
  }
}
.App {
  background-color: teal;
}
.hidden {
  visibility: hidden;
}

@import "./TweetList";
