{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <h1>xmlns:blog="https://www.w3.org"My Blog</h1>
    <h2>Search Results</h2>
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="tags">Tags:
      {% for tag in post.tags.all %}
        <a href= "{%url "blog:post_list_by_tag" tag.slug%}">
            {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% end for %}
    </p>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
    {% empty %}
    <h3>No results were found</h3>
  {% endfor %}

{% endblock %}