img{display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative; }
header {background-image: url("header_img.jpg");
        height: 300px;
        background-size: cover;}
div.box{ height: 100px;
         width: 200px;
         padding: 70px;
         margin: auto; }
h1,h3 {display: block;
       text-align: center;
       margin: auto;
       color: rgb(138, 32, 32); 
       font-family: Arial, Helvetica, sans-serif; }
body {background-image: url("ocean.jpg");}
.TextAlign {font-family: Arial, Helvetica, sans-serif;
            font: bold;
            color: rgb(0, 0, 0);
            text-align: center; }
li a:link {color: rgb(0, 0, 0);
           text-decoration: none;}
li a:hover {color: rgb(0, 0, 0);
            text-decoration: none;}
li a:visited {color: rgb(0, 0, 0);
              text-decoration: none;}
ul {align-items: center;
	margin: 20px; }
li {display: inline-block;
    padding: 2px; }